{% extends 'base.html' %}

{% block content %}
    <div class="post-entry">

        <br>
            <h1 style="text-align:center">
                Item Details
            </h1>
            <p style="text-align:center">
                <a href="{% url 'edit_change_item' object.pk %}">
                    Edit Item
                </a>
            </p>
            <p style="text-align:center">
                <a href="{% url 'edit_delete_item' object.pk %}">
                    Delete Item
                </a>
            </p>
        <hr>

        <br>
        <h2 style="text-align:center">
            Name: {{ object.Item_Name }}
        </h2>
        <h2 style="text-align:center">
            Subject: {{ object.Item_From_Subject }}
        </h2>
        <h2 style="text-align:center">
            Ponderation: {{ object.Ponderation }} %
        </h2>
        <h2 style="text-align:center">
            Date: {{ object.Date }}
        </h2>
    </div>


{% endblock content %}