{% extends 'base.html' %}

{% block content %}

    <br>
        <h1 style="text-align:center">
            Student Details
        </h1>
        <p style="text-align:center">
            <a href="{% url 'edit_change_student' object.pk %}">
                Edit Student
            </a>
        </p>
        <p style="text-align:center">
            <a href="{% url 'edit_delete_student' object.pk %}">
                Delete Student
            </a>
        </p>
    <hr>

    <div class="post-entry">
        <br>
        <h2 style="text-align:center">
            NIF: {{ object.Student_Nif }}
        </h2>
        <h2 style="text-align:center">
            Name: {{ object.Name }}
        </h2>
        <h2 style="text-align:center">
            Surname: {{ object.Surname }}
        </h2>
        <h2 style="text-align:center">
            Course: {{ object.Course }}
        </h2>
    </div>

{% endblock content %}