{% extends 'base.html' %}

{% block content %}


    <div class="post-entry">
        
        <br>
        <h1 style="text-align:center">
            Grades Details
        </h1>
        <p style="text-align:center">
            <a href="{% url 'edit_change_grade' object.pk %}">
                Edit Grade
            </a>
        </p>
        <p style="text-align:center">
            <a href="{% url 'edit_delete_grade' object.pk %}">
                Delete Grade
            </a>
        </p>
        <hr>

        <br>
        <h2 style="text-align:center">
            Student: {{ object.Student }}
        </h2>
        <h2 style="text-align:center">
            Subject: {{ object.Subject_Grades }}
        </h2>
            
    </div>

    


{% endblock content %}