{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <br>
        <h1 style="text-align:center">
            Editor mode
        </h1>
    <hr>

    <table class="table">
        <thread>
            <br><br>
            <p style="text-align:center">
                <b>
                    Choose your action:
                </b>
            </p>
            <hr>
            <tr style="text-align:center">
            <th scope="col">Add</th>
            <th scope="col">Edit</th>
            <th scope="col">Remove</th>
            </tr>
        </thread>
        <tbody style="text-align:center">
            <tr>
                <td>
                    <a href="{% url 'editornewsubject' %}">
                        Add new Subject
                    </a>
                </td>
                <td>
                    <a href="{% url 'subject_list' %}">
                        Subject list
                    </a>
                </td>
                <td>
                     <a href="{% url 'subject_list' %}">
                          Delete Subject
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{% url 'editornewgrade' %}">
                        Add new Grade
                    </a>
                    
                </td>
                <td>
                    <a href="{% url 'grades_list' %}">
                        Grades list
                    </a>
                </td>
                <td>
                    <a href="{% url 'grades_list' %}">
                        Delete Grade
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{% url 'editornewitem' %}">
                        Add new Item
                    </a>
                    
                </td>
                <td>
                    <a href="{% url 'item_list' %}">
                        Item list
                    </a>
                </td>
                <td>
                    <a href="{% url 'item_list' %}">
                        Delete Item
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{% url 'editornewsubmit' %}">
                        Add new Submit
                    </a>
                    
                </td>
                <td>
                    <a href="{% url 'submit_list' %}">
                        Submit list
                    </a>
                </td>
                <td>
                    <a href="{% url 'submit_list' %}">
                        Delete Submit
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{% url 'editornewstudent' %}">
                        Add new Student
                    </a>
                    
                </td>
                <td>
                    <a href="{% url 'student_list' %}">
                        Student list
                    </a>
                </td>
                <td>
                    <a href="{% url 'student_list' %}">
                        Delete Student
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
   {% else %}
            <p style="text-align:center">
                <font size="+3" style="padding: 20">
                    You are not logged in
                </font>

            </p>
            <p style="text-align:center">
                <a href="{% url 'login' %}" style="padding: 20;">
                    Log In
                </a>
            </p>
    {% endif %}
{% endblock %}