<!-- templates/home.html -->

{% extends 'base.html' %}
 
 {% block content %} 

    

    {% if user.is_authenticated %}
        <br>
        <h1 style="text-align:center">
            Global Ranking
        </h1>
        <hr>

    

          <table class="table">
              <thead>  
                  <tr style="text-align:center">
                      <th scope="col">#</th>
                      <th scope="col">Student Name</th>
                      <th scope="col">Mean grade</th>
                      <th scope="col">Course</th>
                  </tr>
              </thead>
            <tbody>
                {% for best in best_students %}
                   
                        <tr style="text-align:center">
                            <td>
                            {{ best.Ranking }}

                           </td>
                            <td>
                                {{best.Name}}
                            </td>
                            <td>
                                {{best.Expedient}}
                            </td>
                            <td>
                                {{grades.Subject_Grades.Course}}
                            </td>
                        </tr>

                {% endfor %}
            </tbody>
          </table>

    {% endif %}

 {% endblock content %}