<!-- templates/home.html -->

{% extends 'base.html' %}
 
 {% block content %} 

    

    {% if user.is_authenticated %}
        <br>
        <h1 style="text-align:center">
            Global Ranking
        </h1>
        <hr>

    

          <table class="table">
              <thead>  
                  <tr style="text-align:center">
                      <th scope="col">#</th>
                      <th scope="col">Student Name</th>
                      <th scope="col">Mean grade</th>
                      <th scope="col">Course</th>
                  </tr>
              </thead>
            <tbody>
                {% for best in best_students %}
                   
                        <tr style="text-align:center">
                            <td>
                            {{ best.Ranking }}

                           </td>
                            <td>
                                {{best.Name}}
                            </td>
                            <td>
                                {{best.Expedient}}
                            </td>
                            <td>
                                {{best.Course}}
                            </td>
                        </tr>

                {% endfor %}
            </tbody>
          </table>
    {% else %}
            <p style="text-align:center">
                <font size="+3" style="padding: 20">
                    You are not logged in
                </font>

            </p>
            <p style="text-align:center">
                <a href="{% url 'login' %}" style="padding: 20;">
                    Log In
                </a>
            </p>
    {% endif %}

 {% endblock content %}