{% extends 'base.html' %}
  {% load static %}
{% block title %}
    Home
{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <br>
        <h1 style="text-align:center">
            Hi {{ user.username }}! Welcome to SGrades.com!
        </h1>
        <hr>
        <p style="text-align:center">
            <img src="{% static "../static/images/SGrades.png" %}" alt="home" />
        </p>
    {% else %}
        <br>
        <h1 style="text-align:center">
            You are not logged in
        </h1>
        <hr>
             
        <p style="text-align:center">
            <a href="{% url 'login' %}" style="padding: 20;">
                Log In
            </a>
        </p>
       
    {% endif %}
{% endblock content %}