<!-- templates/home.html -->

{% extends 'base.html' %}
 
 {% block content %} 

    

    {% if user.is_authenticated %}
        <br>
        <h1 style="text-align:center">
            Subject Ranking
        </h1>
        <hr>
          <table class="table">
              <thead>  
                  <tr style="text-align:center">
                      <th scope="col">Subject</th>
                      <th scope="col">Student Name</th>
                      <th scope="col">Mean grade</th>
                      <th scope="col">Course</th>
                  </tr>
              </thead>
            <tbody>
                {% for subject in Subject_list %}
                  {% for grades in Grades_list %}
                    {% if grades.Subject_Grades.Subject_Name == subject.Subject_Name and grades.Student.Name == subject.Best_Student.Name %}
                   
                        <tr style="text-align:center">
                            <td>
                            {{ subject.Subject_Name }}

                           </td>
                            <td>
                                {{subject.Best_Student}}
                            </td>
                            <td>
                                {{grades.Mean}}
                            </td>
                            <td>
                                {{subject.Course}}
                            </td>
                        </tr>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
            </tbody>
          </table>
    {% else %}
            <p style="text-align:center">
                <font size="+3" style="padding: 20">
                    You are not logged in
                </font>

            </p>
            <p style="text-align:center">
                <a href="{% url 'login' %}" style="padding: 20;">
                    Log In
                </a>
            </p>
    {% endif %}

 {% endblock content %}